@import '../../sass/base/variables';
@import '../../sass/main.scss';
.tagContainer {
    display: flex;
    &__tagButton {
       display: flex; 
       justify-content: center;
        background:  #ff6060;;
        color: $tertiary-color;
        margin-top: 4%;
        margin-left: 5px;
        height: 18px;
        border-radius: 5px;
        margin-right: 10px;
        padding: 2px 10px 0 10px;
        &:first-child {
            margin-left: 46px;
        }

    @media screen and (min-width: $breakpoint-desktop) {
        flex-direction: column;
        height: 25px;
       
    }
}
}

.title-tags-container {
 display: flex;
 flex-direction: column;

    h1 {
        margin: 2% 0;
       

        @media screen and (min-width: $breakpoint-desktop) {
          display: block;
        }
    }

    h3 {
        margin: 2% 0;
        

        @media screen and (min-width: $breakpoint-desktop) {
          
        }
    }
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}