.container{
margin: 0px 25px 0px;


.Row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
};
.column{
    display: flex;
    flex-direction: column;
}

.logementCollapse {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin: 30px auto;
    width: 100%;
    

    &__item{
        width: 50%;
    }
}
}