.container{
margin: 0px 25px 0px;
display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 550px){
       display: flex;
       flex-direction: column;
    }
.Row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
};
.column{
    display: flex;
    flex-direction: column;
}

.logementCollapse {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 30px auto;
    width: 100%;
    &__item{
        width: 50%;
    }
}
}
@media screen and (max-width: 550px) {
.container{
.xsRow {
    flex-direction: row ;
    justify-content: space-between;
    margin-top: 15px;
}
.logementCollapse{
    flex-direction: column;
    gap: 15px;
    &__item{
        width: 100% ;
    }
}
} }


