@import '../../sass/main.scss';

.aboutMain{
    width: 95%;
    margin: 0 auto;
    &__collapse{
        margin: 40px auto;
        @media screen and (max-width: 550px){
            margin: 20px auto;
        }
    }
}
.aproposBannerContainer {
    position: relative;
    @include flex;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.069), rgba(0, 0, 0, 0.183)), url('../../assets/background.png');
    background-position: center;
    
    background-size: cover;
    height: 223px;
    padding: 20px;
    max-width: 95%;
    margin: 43px auto;
    @media screen and (max-width: 550px){
        margin: 20px auto;
        height: 120px;
    }
}