@import "../../sass/base/variables";
@import "../../sass/main.scss";

.titleStyle
{

font-family: 'Montserrat';
font-weight: 500;
font-size: 36px;
display: flex;
align-items: flex-end;
color: #FF6060;
}; 
.locationStyle{
font-family: 'Montserrat';
font-weight: 500;
font-size: 18px;
display: flex;
align-items: flex-end;
color: $secondary-color;
}