@import "../../sass/base/variables";
@import "../../sass/main.scss";
.hostComp {
	display: flex;
	justify-content: flex-end;
}
.hostPicture {
        display: flex;
        margin-left: 10px;
        border-radius: 50%;
     
	
img {
	border-radius: 50%;
	width: 64px;
		height: 64px;
}
	@media screen and (min-width: $breakpoint-desktop) {
		width: 64px;
		height: 64px;
	}
}
.hostName {
	display: flex;
	justify-content: flex-end;
	width: 63px;
	height: 66px;
	text-align: right;
	align-items: center;
	@media screen and (min-width: $breakpoint-desktop) {
		
	}

}

