@import '../../sass/base/variables';
@import '../../sass/utils/mixins.scss';
.footerBloc {
		@include flex(column);
		background-color: $footer-color;
		width: 100%; 
		Height : 209px; 

	&__text {
		@include textflexfooter; 
		color: $tertiary-color;
		width: 100%;
		margin: 4% 0 3% 0;
		@media screen and (min-width: $breakpoint-desktop) {
		}
	}
	img {
		margin-top: 2%;
	}
}